.contacto {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;     /* centra horizontalmente */
  padding: 20px;
  background-color: #f9f9f9;
  color: black;
  box-sizing: border-box;
}

/* Formulario */
.contacto form {
  width: 100%;
  max-width: 400px;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  
  /* Evita que el formulario se estire demasiado */
  flex-shrink: 0;
}

.contacto h2{
  font-size: 2.5rem;
    text-align: center;
    
}

.contacto h3 {
  text-align: center;
  margin-bottom: 15px;
  color: #004080;
}

.contacto label {
  display: block;
  margin: 10px 0 5px 0;
  font-weight: bold;
}

.contacto input,
.contacto textarea {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.contacto button {
  width: 100%;
  padding: 10px;
  background-color: #02691c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contacto button:hover {
  background-color: #1b9239;
}
