
.editorial {
    color: black;
    background-color: #f2f2f2;
    padding: 1rem;
    border-left: 4px solid #d62525;
}

.editorial p {
    text-align: justify;
}

.editorial h4{
margin-bottom:0px;
    
}
.editorial h3 {
    color: #c00000;
}

.img_editorial {
    width: 40%;
    max-width:180px ; /* mantiene maximo de tamaño en reponsive*/
    height: auto; 
    object-fit: cover; /* mantiene el reponsive */
    margin-top: 10px;
    margin-bottom:5px;
    border-radius: 5px;
}

/* Tablet */
@media (max-width: 1024px) {
    .img_editorial {
        max-width: 140px;
    }
}

@media (max-width: 768px) {
    .img_editorial {
        max-height: 220px;
        object-fit: cover;
        margin: 0 auto;
        display: block;
    }
}
