.main-content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 30px;
  width: 98%;
  margin: 20px auto;
}

.main-article {
  background: #fff;
}

.sidebar {
  background: #f5f5f5;
}

/* Mobile: aside abajo */
@media (max-width: 900px) {
  .main-content {
    grid-template-columns: 1fr;
  }

  .sidebar {
    order: 2;
  }
}