/* Contenedor de la nieve */
.nieve-nav {
  position: absolute;
  inset: 0;
  pointer-events: none;
  overflow: hidden;
  z-index: 999;
}

/* Copos individuales */
.snowflake {
  position: absolute;
  top: -10px;
  color: rgb(224, 208, 208);
  user-select: none;
  pointer-events: none;
  font-size: 12px;
  opacity: 0.9;
  animation: caer linear infinite;
}

/* Animación de caída */
@keyframes caer {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(120px);
  }
}