/* Contenedor de los artículos */
.articulos {

  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas */
  gap: 20px;
  padding: 20px;
  background-color: #f9f9f9;
}

/* Estilo de cada artículo */
.articulo {
  
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.articulo:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.articulo img {
  width: 100%;
  height: 150px; /* más compacto que el modal */
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.articulo h2 {
  font-size: 1.2rem;
  text-decoration-line: underline;
  color: black;
  margin-bottom: 8px;
}

.articulo p {
  font-size: 0.9rem;
  color: black;
  
}

/* Botón ver más (opcional) */
.ver-mas {
  margin-top: 10px;
  background-color: #53615d;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.ver-mas:hover {
  background-color: #404c47;
}

/* Responsive */
@media (max-width: 900px) {
  .noticias-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .noticias-grid {
    grid-template-columns: 1fr;
  }
}
