/* ===== NOTICIA PRINCIPAL ===== */

.noticia-principal {
  width: 94%;
  margin-left: 15px;
  background: #fff;
  padding: 20px;
  border-radius: 1px;
  overflow: hidden;
  display: grid;
  gap: 20px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);  /* sombra ligera */
  border-radius: 12px;
  margin: 20px, 15px;
}

.noticia-principal h2 {
  margin-left: 10px;
  color: black;
  margin-left: 20px;
}


.noticia-principal img {
    width: 75%;
    border-radius: 0px;
    padding: left;
    object-fit: cover;
    margin-top: 1px;
    border-radius: 4px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.noticia-principal h1 {
  color: black;
  font-size: 1.8rem;
  margin: 12px;
  margin-left: 20px;
}


.noticia-principal h2 {
  color: black;
  font-size: 1.8rem;
  margin: 12px;
  margin-left: 20px;
}

.noticia-principal p {
  margin: 0 12px 16px;
  color: black;
  margin-left: 20px;
  line-height: 1.5;
}

